<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2014-2018 <a href="#">瑞银国际物流（江苏）有限公司</a>.</strong>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs" id="ul_nav">
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="tabContent">
        <!-- Home tab content -->
        <!-- Settings tab content -->
        <!-- /.tab-pane -->
    </div>
</aside>